<a href="/profile/edit">Edit</a><br>

<?php

	echo "<img src='uploads/avatars/" . $data['user']['avatar'] . "'>";
	echo "User: <h2>" . $data['user']['first_name'] . $data['user']['last_name'] . "</h2><br>";
	echo "About: <h5>" . $data['user']['about'] . "</h5><br>";
	echo "Last visit: <h5>" . $data['user']['last_visit'] . "</h5><br>";
	echo "City: <h5>" . $data['user']['city'] . "</h5><br>";
	echo "Avatar: <h5>" . $data['user']['avatar'] . "</h5><br>";
	echo "Workplace: <h5>" . $data['user']['workplace'] . "</h5><br>";
	echo "Registration date: <h5>" . $data['user']['registration_date'] . "</h5><br>";

	echo "Trainings: <br>";
	foreach ($data['trainings'] as $training) {
		echo "<a href='/trainings/view/{$training['id']}'>{$training['name']}</a> ";
		echo "Progress: " . $training['progress'];
		echo " <a href='/trainings/study/{$training['id']}'><button>Study</button></a><br>";
	}
?>