<div class="container">
    <div class="jumbotron">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">404 Сторінку не знайдено<p> </p><p><small class="text-center"> Oh noes everything broke</small></p></h1>
        <p class="text-center">Вибачте, сторінка <?php echo App::getRouter()->getController() . " / " . App::getRouter()->getAction(); ?> не існує.</p>
        <p class="text-center">Спробуйте повернутися на попередню сторінку або натисніть цю кнопку.</p>
        <p class="text-center"><a class="btn btn-primary" href="/"><i class="fa fa-home"></i> Повернутися на головну</a></p>
    </div>
</div>
