<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Timoniann">
	<link rel="icon" href="favicon.ico">

	<title><?=Config::get("site_name")?></title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet">

</head>
<body>

	<!-- Header -->
	<div class="header">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/"><?=Config::get("site_name")?></a>
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <?= App::getRouter()->getController() == "news" ? "active" : "" ?>">
						<a class="nav-link" href="/">Home</a>
					</li>

					<?php
						$user = Session::getCurrentUser();
						if($user){

							?>

								<li class="nav-item <?= App::getRouter()->getController() == "news" ? "active" : "" ?>">
									<a class="nav-link" href="/news">News</a>
								</li>

								<li class="nav-item">
									<a class="nav-link <?= App::getRouter()->getController() == "users" ? "active" : "" ?>" href="/users">Users</a>
								</li>

								<li class="nav-item">
									<a class="nav-link <?= App::getRouter()->getController() == "books" ? "active" : "" ?>" href="/books">Library</a>
								</li>

								<li class="nav-item <?= App::getRouter()->getController() == "subjects" ? "active" : "" ?>">
									<a class="nav-link" href="/subjects">Subjects</a>
								</li>

								<li class="nav-item <?= App::getRouter()->getController() == "trainings" ? "active" : "" ?>">
									<a class="nav-link" href="/trainings">Trainings</a>
								</li>
							<?php

						} else {
							?>

								<li class="nav-item">
									<a class="nav-link" href="/contacts">Contacts</a>
								</li>
								
							<?php
						}
					?>
				</ul>
				<ul class="navbar-nav">
					<?php
						if($user){ ?>

							<li class="nav-item align-right <?= App::getRouter()->getController() == "profile" ? "active" : "" ?>">
								<a class="nav-link" href="/profile">Profile</a>
							</li>

			
							<li class="nav-item float-right">
								<a class="nav-link" href="/users/logout">Logout</a>
							</li>

						<?php }
						else { ?>

							<li class="nav-item">
								<a class="nav-link" href="/users/auth">Log in</a>
							</li>

						<?php }
					?>
				</ul>
			</div>
		</nav>
	</div>

	<div class="main">
		<div class="container">

			<?php if(Session::hasFlash()) { ?>

				<div class="alert alert-<?=Session::get('type');?> alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
						<!-- <strong>Heads up!</strong> This <a href="https://bootswatch.com/flatly/#" class="alert-link">alert needs your attention</a>, but it's not super important. -->
					<?php Session::showFlash(); ?>
		  		</div>
	
			<?php } ?>

			<?=$data['content']?>

		</div>
	</div>
	<footer class="footer">
	  <div class="container">
		<span class="text-muted"><p>&copy; SE, 4 course :)</p></span>
	  </div>
	</footer>
	<script src="/js/tether.min.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>