<div class="col-md-11">
	<div class="regform">
		<form method="POST" enctype="multipart/form-data">
			<legend>Створення дистанційного навчання</legend>

			<div class="form-group">
				<label for="trainingname">Назва</label>
				<input type="text" class="form-control" id="trainingname" aria-describedby="Name" placeholder="Enter name" name="training_name" minlength="2" required>
			</div>

			<div class="form-check form-group">
				<label for="trainingtype">Тип:</label>
				<br>
				<label class="custom-control custom-radio">
				  <input name="training_type" type="radio" class="custom-control-input" value="0" checked>
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description">Публічний</span>
				</label>
				<label class="custom-control custom-radio">
				  <input name="training_type" type="radio" class="custom-control-input" value="1">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description">Приватний</span>
				</label>
			</div>

			<div class="form-group">
				<label class="mr-sm-2">Предмет</label>
					<select name="subject" class="custom-select mb-2 mr-sm-2 mb-sm-0">
						<option value="0">Без предмету</option>
						<?php

							foreach ($data["subjects"] as $subject) {
								echo "<option value='" . $subject['id'] . "'>" . $subject['name'] . "</option>";
							}
						?>
					</select>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-primary" >Створити</button>
			</div>
		</form>
	</div>
</div>