<div class="col-md-12">
	<div class="panel with-nav-tabs panel-default">
		<ul class="nav-tabs" role="tablist"> <!-- + class nav -->
		<?php 
			$count = 0;
			foreach ($data['lections'] as $lection) { ?>
			<li class="nav-item" style="display: block">
				<a class="nav-link" href="#lection<?=$count++;?>" role="tab" data-toggle="tab"><?=$lection['title'];?></a>
			</li>
		<?php } $count = 0; ?>
		<?php 
			foreach ($data['tests'] as $test) { ?>
			<li class="nav-item">
				<a class="nav-link" href="#test<?=$count++;?>" role="tab" data-toggle="tab">Тест: <?=$test['title'];?></a>
			</li>
			<?php } $count = 0; ?>

			<li class="nav-item">
				<a class="nav-link" href="#finish" role="tab" data-toggle="tab">Finish</a>
			</li>
		</ul>

		<!-- Lections container -->
		<div class="tab-content">
		<?php foreach ($data['lections'] as $lection) { ?>
			<div role="tabpanel" class="tab-pane fade" id="lection<?=$count++;?>">
				<?=$lection['content'];?>
			</div>
		<?php } $count = 0; ?>

		<!-- Tests container -->
		<?php foreach ($data['tests'] as $test) { ?>
			<div role="tabpanel" class="tab-pane fade" id="test<?=$count++;?>">
				<?php if($test['testings']){ ?>
				<br>
					<div class="alert alert-info alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Увага!</strong> Ви вже проходили даний тест, результати:<br>
				  		<?php
				  		$count_tries = 1;
						foreach ($test['testings'] as $testing) { ?>
							<!-- <a href='/testings/view/<?=$testing['id']?>'> -->
								Спроба <?=$count_tries++;?>.
							<!-- </a>  -->
							Правильних відповідей: <?=$testing['answered_count']?>
							з <?=$testing['questions_count']?><br>
						<?php } $count_tries = 0; ?>
					</div>
				<br>
				<?php } ?>
				<form action="/trainings/check_tests" method="post">
					<input type="hidden" name="test_id" value="<?=$test['id']?>">
					<?php
						if(isset($test['questions']))
						foreach ($test['questions'] as $question) { ?>
							<div class="test shadowbox white" >
								<div class="form-check form-group">
									<h4> Питання: <?=$question['question']?></h4>

										<?php foreach ($question['variants'] as $variant) { ?>
											<label class="custom-control custom-radio">
											    <input name="<?=$question['id']?>" type="radio" class="custom-control-input" value='<?=$variant?>'>
											    <span class="custom-control-indicator"></span>
											    <span class="custom-control-description"><?=$variant?></span>
											</label><br>
										<?php } ?>

								</div>
							</div> <br>
					<?php } if (isset($test['questions']) && count($test['questions']) && !$test['testings']) { ?>
					<a href="/trainings/create" class="float-right">
						<button type="submit" class="btn btn-outline-primary">
							Перевірити
						</button>
					</a>
					<?php } ?>
					<br>
				</form>

			</div>
		<?php } $count = 0; ?>

		<div role="tabpanel" class="tab-pane fade" id="finish">
			<br>
			<h4>Ви завершили вивчати дане дистанційне навчання.</h4>
			<br>

			<?php
				if(isset($data['training']['next_training'])){ ?>
					<a href="/invites/next/<?=$data['training']['id']?>" class="btn btn-outline-success">Перейти до наступного навчання</a>
			<?php } ?>
		</div>

		</div>
	</div>
</div>

