.header {
  height: 50px;
}

.main {
  margin-top: 50px;
}

.news {
  margin: 5px;
  background-color: rgba(73, 73, 73, 0.46);
  border-radius: 5px;
}
.ntitle{
  margin: 10px;
}
.ntext{
    margin: 15px;
}
.nbutton{
  margin: 15px;
  padding-bottom: 10px;
}
.paginator{
  margin: 50px;
}

/*  library  */
.books{
  margin: 5px;
  background-color: rgba(73, 73, 73, 0.46);
  border-radius: 5px;
}
.btitle{
  margin: 10px;
}
.btext{
    margin: 15px;
}
.menulib{
  margin-top: 50px;
}
.searchbooks{
  margin-top: 10px;
}

/*  loginpage */
.loginform{
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.regform{
  margin-left: 100px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

/* testingroom */
.menutest{
margin-top:20px;
margin-bottom: :20px;
}
.checktest{
  margin-left: 20px;
}
.testingroom{
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
/* lections */
.lection{
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

/* profile */
.tableprofile{
  
}
