	<div class="col-md-11">
	<div class="regform">
		<form method="POST">
			<legend>Створення предмету</legend>
			<div class="form-group">
				<label for="subjtitle">Назва:</label>
				<input type="text" class="form-control" id="subjtitle" aria-describedby="Name" placeholder="Enter name" name="name" minlength="2" required>
			</div>
			<div class="form-group">
				<label for="subjdescriptions">Короткий опис:</label>
				<textarea id="subjdescriptions" class="form-control" rows="10" placeholder="Enter description" name="description" minlength="2" required></textarea>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-primary" >Створити</button>
			</div>
		</form>
	</div>
</div>