<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>KIT</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

  <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="index.html">KIT</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
                  <li class="nav-item">
            <a class="nav-link" href="lection.html">Lection</a>
                        </li>
                  <li class="nav-item">
            <a class="nav-link" href="library.html">Library</a>
                        </li>
                  <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
                        </li>
                  <li class="nav-item">
            <a class="nav-link" href="profile.html">Profile</a>
                        </li>
                  <li class="nav-item">
            <a class="nav-link" href="testing.html">Testing</a>
                        </li>
                  <li class="nav-item">
            <a class="nav-link" href="contacts.html">Contacts</a>
          </li>
        </ul>
      </nav>
  </div>
          <div class="main">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Дисципліна: <span> КІТ</span></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav menutest">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="lection">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


    <footer>
      <p>&copy; Company 2017</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
