<div class="row">
	<div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item active">Предмети</li>
			<li class="list-group-item">Предмет1</li>
			<li class="list-group-item">Предмет2</li>
			<li class="list-group-item">Предмет3</li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="tableprofile">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Курси</th>
						<th scope="col">Прочитано лекцій</th>
					</tr>
				</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>