
<img style="padding: 10px" width="200px" height="200px" class='rounded mx-auto d-block float-left' src='<?=($data['user']['avatar']) ? "/uploads/avatars/{$data['user']['avatar']}" : "/public/images/avatar.png";?>'>
<?php	
	echo "User: <h2>" . $data['user']['first_name'] . " " . $data['user']['last_name'] . "</h2><br>";
	echo "About: <h5>" . $data['user']['about'] . "</h5><br>";
	echo "Last visit: <h5>" . $data['user']['last_visit'] . "</h5><br>";
	echo "City: <h5>" . $data['user']['city'] . "</h5><br>";
	echo "Workplace: <h5>" . $data['user']['workplace'] . "</h5><br>";
	echo "Registration date: <h5>" . $data['user']['registration_date'] . "</h5><br>";

?>