<div class="col-md-11">
	<div class="regform">
		<form method="POST" enctype="multipart/form-data">
			<legend>Add news</legend>
			<div class="form-group">
				<label for="newstitle">Title:</label>
				<input type="text" class="form-control" id="newstitle" aria-describedby="Name" placeholder="Enter name" name="news_title" minlength="2" required>
			</div>
			<div class="form-group">
				<label for="newscontent">Content news:</label>
				<input type="text" class="form-control" id="newscontent" placeholder="Type" name="news_content" minlength="2" required>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-primary" >Post</button>
			</div>
		</form>
	</div>
</div>