<?php if (App::adminPermission()) { ?>

    <a href="/news/create" class="float-right">
		<button type="button" class="btn btn-outline-primary">
			Створити новину
		</button>
	</a>

<?php } ?>

<h2> Новини </h2><br>

<h3>Пошук новин</h3>
<form method="get" action="" class="form">
	<div class="input-group">
		<input class="form-control" type="text" name="search" size="140">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-outline-primary">
				Шукати
			</button>
		</span>
	</div>
</form>

<br><br>

<div class="row">


<?php 
	$hours = (int)date("h");
	$night = $hours < 6 || $hours > 22 ? true : false;	

	foreach ($data['news'] as $post) {
		?>
		<div class="col-md-4">
			<div class="shadowbox <?=($night ? 'dark' : 'white')?>">
				<div class="ntitle">
					<h2><?=$post['title'] ?></h2>
				</div>
				<div class="ntext">
					<?=mb_strimwidth(strip_tags(htmlspecialchars_decode($post['content'])), 0, 150, "..."); ?>
				</div>
				<div class="nbutton">
					<p><a href="/news/view/<?=$post['id'] ?>"><button class="btn btn-secondary float-right">Details</button></a></p>
				</div>
			</div>
		</div>
		<?php } ?>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="paginator">
			<nav aria-label="Page navigation example">
				<form method="get" action="">

					<input type="hidden" name="search" value="<?=$data['search']?>">

					<ul class="pagination justify-content-center">

						<li class="page-item <?=($data['page_index'] <= 1 ? "disabled" : "")?>">
							<button class="page-link" type="submit" value="<?=($data['page_index'] - 1)?>" name="page">Previous</button>
						</li>

						<?php
						for ($i=$data['page_index'] - 4; $i < $data['page_index']; $i++) { 
							if ($i < 1) continue; ?>
							<li class="page-item">
								<button class="page-link" type="submit" value="<?=($i)?>" name="page"><?=($i)?></button>
							</li>
							<?php } ?>

							<li class="page-item active">
								<label class="page-link disabled"><?=$data['page_index']?></label>
							</li>

						<?php

						for ($i=$data['page_index'] + 1; $i < $data['page_index'] + 4; $i++) { 
							if ($i > $data['max_page']) break; ?>
							<li class="page-item">
								<button class="page-link" type="submit" value="<?=($i)?>" name="page"><?=($i)?></button>
							</li>
						<?php } ?>

							<li class="page-item <?=($data['page_index'] < $data['max_page'] ? "" : "disabled")?>">
								<button class="page-link" type="submit" value="<?=($data['page_index'] + 1)?>" name="page">Next</button>
							</li>
					</ul>
				</form>	
			</nav>
		</div>
	</div>
</div>

