<h2> Новини </h2>

<h2>Search News</h2>
<form method="post" action="">
	<input type="text" name="search_news" size="140">
	<button type="submit">Search</button>
</form>

<hr>
<br>
<br>

<a href="/news/create" class="float-right">
	<button type="button" class="btn btn-outline-primary">
		Створити новину
	</button>
</a>
<br><br>
<div class="row">


<?php 
	foreach ($data['news'] as $post) {
		?>

		<div class="col-md-4">
			<div class="shadowbox">
				<div class="ntitle">
					<h2><?=$post['title'] ?></h2>
				</div>
				<div class="ntext">
					<?=mb_strimwidth(strip_tags(htmlspecialchars_decode($post['content'])), 0, 150, "..."); ?>
				</div>
				<div class="nbutton">
					<p><a href="/news/view/<?=$post['id'] ?>"><button class="btn btn-secondary float-right">Details</button></a></p>
				</div>
			</div>
		</div>
		<?php } ?>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="paginator">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
